In [1]:
import pandas as pd 
from io import StringIO # 문자열을 파일처럼 사용할 수 있도록 지원

In [11]:
csv_data = """A,B,C,D 
1.0,2.0,3.0,4.0 
5.0,6.0,,8.0 
9.0,10.0,11.0,
""" 
file_from_string = StringIO(csv_data)
df = pd.read_csv(file_from_string) 
df

     A     B     C   D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   NaN  8.0
2  9.0  10.0  11.0  NaN

In [17]:
# df.isnull() 
# df.isna() 
# df.notnull() 
# df.notna() 
# df.info()
# 파이썬은 True를 1로 환산, False는 숫자 0 으로 환산
df.isnull().sum(axis=0) # NA 데이터 포함 여부 (NA -> 0)

A     0
B     0
C     1
D     1
dtype: int64

In [15]:
# NaN 제거 
# df.dropna() # NaN이 포함된 모든 행 제거 
# df.dropna(axis=1) # NaN이 포함된 모든 열 제거 
# df.dropna(how="all") # 모든 데이터가 NaN인 행 제거 (any or all) 
 df.dropna(thresh=4) # NaN이 아닌 데이터가 4개 미만인 행 제거 
# df.dropna(subset=['C']) # C 컬럼에 NaN이 포함된 행 제거

     A    B    C   D
0  1.0  2.0  3.0  4.0

In [18]:
from sklearn.impute import SimpleImputer 
import numpy as np 

simr = SimpleImputer(missing_values=np.nan, strategy="constant", fill_value=100) # strategy : mean, most_frequent, median 
simr = simr.fit(df) 
imputed_data = simr.transform(df.values) 
imputed_data

array([[  1.,   2.,   3.,   4.],
       [  5.,   6., 100.,   8.],
       [  9.,  10.,  11., 100.]])

In [19]:
df_wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None) 
df_wine.columns = ['Class label', 'Alcohol', 'Malic acid', 'Ash', 
                   'Alcalinity of ash', 'Magnesium', 'Total phenols', 
                   'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins', 
                   'Color intensity', 'Hue', 'OD280/OD315 of diluted wines', 
                   'Proline'] 

print('Class labels', np.unique(df_wine['Class label'])) 
df_wine.head()

Class labels [1 2 3]

,Class label,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [24]:
from sklearn.model_selection import train_test_split 

X, y = df_wine.iloc[:, 1:].values, df_wine.iloc[:, 0].values 

X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=0.3, random_state=0) 

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((124, 13), (54, 13), (124,), (54,))

In [26]:
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()

X_train_scaled = mms.fit_transform(X_train)
print(X_train.min(axis=0)[:5], X_train.max(axis=0)[:5])
print(X_train_scaled.min(axis=0)[:5], X_train_scaled.max(axis=0)[:5]) 

print("*" * 100)

X_test_scaled = mms.transform(X_test)
print(X_test.min(axis=1)[:5], X_test.max(axis=0)[:5])
print(X_test_scaled.min(axis=1)[:5], X_test_scaled.max(axis=1)[:5])

[11.03  0.89  1.36 10.6  70.  ] [ 14.75   5.65   3.22  30.   162.  ]
[0. 0. 0. 0. 0.] [1. 1. 1. 1. 1.]
****************************************************************************************************
[0.21 0.24 0.19 0.2  0.3 ] [ 14.83   5.8    3.23  28.5  132.  ]
[ 0.13461538 -0.05128205  0.05042017  0.11538462  0.05506073] [0.74311927 0.90926457 0.86330935 0.70642202 1.03151261]

In [27]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler() 

X_train_scaled = ss.fit_transform(X_train)
print(X_train.mean(axis=0)[:5], X_train.std(axis=0)[:5])
print(X_train_scaled.mean(axis=0)[:5], X_train_scaled.std(axis=0)[:5])

print("*" * 100)

X_test_scaled = ss.transform(X_test)
print(X_train.mean(axis=0)[:5], X_train.std(axis=0)[:5])
print(X_test_scaled.mean(axis=0)[:5], X_test_scaled.std(axis=0)[:5])

[ 12.98306452   2.38370968   2.36314516  19.52580645 100.08870968] [ 0.79810176  1.132103    0.27526048  3.56510578 14.60005087]
[ 2.89016123e-15 -1.25560404e-15  1.14514133e-15  2.56246637e-15
 -3.25904178e-16] [1. 1. 1. 1. 1.]
****************************************************************************************************
[ 12.98306452   2.38370968   2.36314516  19.52580645 100.08870968] [ 0.79810176  1.132103    0.27526048  3.56510578 14.60005087]
[ 0.07249879 -0.13790007  0.04037666 -0.02853558 -0.07837406] [1.04476013 0.9392533  0.97905849 0.76112008 0.91441925]

In [32]:
df2 = pd.DataFrame([ 
    ['green', 'M', 10.1, 'class1'], 
    ['red', 'L', 13.5, 'class2'], 
    ['blue', 'XL', 15.3, 'class4'], 
]) 
df2.columns = ['color', 'size', 'price', 'classlabel'] 
df2

   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class4

In [34]:
# np.unique(df2['classlabel']) 
# class_mapping = { 'class1' : 0, 'class2' : 1, 'class3' : 2} 
class_mapping = { 
    label : idx for idx, label in enumerate(np.unique(df2['classlabel'])) 
} 

# print(class_mapping)
df2['classlabel'] = df2['classlabel'].map(class_mapping) 
df2

{0: 0, 1: 1, 2: 2}

   color size  price  classlabel
0  green    M   10.1           0
1    red    L   13.5           1
2   blue   XL   15.3           2

In [35]:
inv_class_mapping = { v : k for k, v in class_mapping.items() } 
print(inv_class_mapping) 
df2['classlabel'] = df2['classlabel'].map(inv_class_mapping) 
df2

{0: 0, 1: 1, 2: 2}

   color size  price  classlabel
0  green    M   10.1           0
1    red    L   13.5           1
2   blue   XL   15.3           2

In [36]:
from sklearn.preprocessing import LabelEncoder 
class_le = LabelEncoder() 
y = class_le.fit_transform(df2['classlabel'].values) 
# y 

df2['classlabel'] = class_le.fit_transform(df2['classlabel'].values) 
df2

   color size  price  classlabel
0  green    M   10.1           0
1    red    L   13.5           1
2   blue   XL   15.3           2

In [37]:
df2['classlabel'] = class_le.inverse_transform(df2['classlabel'].values) 
df2

   color size  price  classlabel
0  green    M   10.1           0
1    red    L   13.5           1
2   blue   XL   15.3           2

In [39]:
from sklearn.preprocessing import OneHotEncoder 

X = df2[['color', 'price']].values 
# print(X) 

color_le = LabelEncoder() 
X[:, 0] = color_le.fit_transform(X[:, 0]) 
print(X)

# ohe = OneHotEncoder(categorical_features=[0]) # 0번째 컬럼 Encoding 
# encoded = ohe.fit_transform(X).toarray() 
# print(encoded)

[[1 10.1]
 [2 13.5]
 [0 15.3]]

In [ ]:
demo_df = pd.DataFrame({'숫자 특성': [0, 1, 2, 1], 
                        '범주형 특성': ['양말', '여우', '양말', '상자']}) 
demo_dr
demo_df['숫자 특성'] = demo_df['숫자 특성'].astype(str) 
#pd.get_dummies(demo_df, columns=['숫자 특성', '범주형 특성'])